.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.datos input {
  
  width: 300px;
  align-items: center;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
}

.datos button {
  width: 300px;
  height: 30px;
  margin-top: 5px;
}
.small-container {
  max-width: 700px; /* Puedes ajustar este valor según tus necesidades */
  margin: 0 auto; /* Esto centrará el contenedor en la página */
}